@import '../../styles/base/variables';

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: flex-end;
  gap: 10px;
  border-bottom: 2px dashed $color-grey;

  &:nth-last-child(2) {
    border: none;
  }

  &_broken {
    animation: broken-car 2s infinite;
  }
}

.road {
  position: relative;
  justify-self: center;
  width: 100%;
  z-index: 5;

  &__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 0.2em;
    font-family: $font-family-franklin;
    -webkit-text-stroke: 0.5px $color-black;
  }
}

@keyframes broken-car {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: rgba(255, 0, 0, 0.3);
  }

  100% {
    background-color: transparent;
  }
}
