// COLORS
$color-black: #000000;
$color-black--semi-transparent: rgba(0, 0, 0, 0.5);
$color-white: #ffffff;

$color-primary: #1976d2;
$color-secondary: #9c27b0;

// FONTS
$font-family-press: 'Press Start 2P', serif;