@import '../../../styles/base/variables';

.mark {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-top: none;
  border-bottom: none;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  background-color: $color-white;
  color: $color-black;
  filter: brightness(0.7);
  opacity: 0.9;
  z-index: 1;

  &_finish {
    background-color: $color-white;
  }

  &_start {
    // background-color: $color-primary;
  }

  & > svg {
    transform: rotate(90deg);
  }
}