.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  padding: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content {
  & * {
    font-family: unset !important;
    font-size: 12px !important;
  }
}
