@import '../../../../styles/base/variables';

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
  justify-items: center;
  gap: 5px;
  padding: 10px 0;
  text-align: center;
  word-break: break-word;
  font-family: $font-family-jersey;
  font-size: 16px;
  border-bottom: 2px solid $color-grey;

  &_heading {
    font-family: unset;
  }
}
