@import '../../styles/base/variables';

.wrapper {
  & > div:nth-child(3) > div:nth-child(1) {
    gap: 10px;
    max-width: 400px;
    height: fit-content;
    padding: 30px;
    color: #fff !important;
    background: linear-gradient(
      to bottom,
      rgba(15, 12, 41, 1),
      rgba(48, 43, 99, 0.9),
      rgba(36, 36, 62, 0.9)
    );
    border: 2px double $color-secondary;
    border-radius: 20px;
  }
}
