@import '../../styles/base/variables';

.mark {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  font-size: 12px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  color: $color-white;
  background: $color-background;
  border-top: none;
  border-bottom: none;
  border: 1px groove $color-black;
  z-index: 1;

  & > svg {
    transform: rotate(90deg);
  }
}
