.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (width < 500px) {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: unset;
    justify-items: unset;
  }
}
